{{username-input username=params.username}}
{{input type="checkbox" name="isCreator" checked=params.creator}}
{{content-type-input contentType=params.type}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Create account
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
