
{{input value=username placeholder="User Name"}}
{{input type="checkbox" name="isCreator" checked=creator}}
<h5>Do you wish to be a client?</h5>
{{input value=contentType placeholder="What will you be creating?"}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Create account
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
