<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Create Account{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<h1>Medici</h1>
<h3>Be a patron of the arts</h3>
<h4>Frequently used values to be deleted</h4>
<h5>Patron:amollohan21@gmail.com 28 44</h5>
<h5>Client:rtitan86@gmail.com 29 45</h5>
<h5>0.00010000</h5>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
