{{#if account}}
  <h2>{{account.user_name}}</h2>
  <h4>Account status: {{if account.creator "Client" "Patron"}}</h4>
  {{#if account.creator}}
    <h4>Creating: {{account.content_type}}</h4>
  {{/if}}
  {{#if account.creator}}
    {{accounts/donate-form donate="donate" account=account}}
  {{/if}}
{{else}}
  <h4>We're sorry, there is no account with this username</h4>
{{/if}}
