<h3>This is my account</h3>
<ul>
  {{#each model as |account|}}
  <li>{{account.id}}</li>
  <li>{{account.userName}}</li>
  <li>{{account.creator}}</li>
  <li>{{account.contentType}}</li>
  <li>{{account.coinbaseEmail}}</li>
  {{/each}}
</ul>

{{#link-to my-account}}my account{{/link-to}}
